<!-- <h1>Angular Material Sample</h1>

<h2>Angular Material Sample</h2>



<h1 class="mat-headline"> Heading 1</h1>
<p class="mat-body-1">
    Lorem ipsum sit amet, ...
</p>
<br/>-->
<!-- <button mat-raised-button> Button 1</button>

<button color="primary" mat-raised-button> Button 1</button>
&nbsp;
<button color="accent" mat-raised-button> Button 2</button>  -->

<!-- <app-input></app-input>

<app-check-box></app-check-box>

<app-radio-button></app-radio-button>

<app-select></app-select>

<app-input></app-input>

<app-progress-spinner></app-progress-spinner>

<app-tooltip></app-tooltip>



<app-tab></app-tab>
 -->
 <app-dialog></app-dialog>