<!-- Position Description -->
<p> <b>above:</b> Always display above the element</p>
<p> <b>below:</b> Always display beneath the element</p>
<p> <b>left:</b> Always display to the left of the element</p>
<p> <b>right:</b> Always display to the right of the element</p>
<p>
  <b>before:</b>  Display to the left in left-to-right layout and to the right in
  right-to-left layout
</p>
<p>
  <b>after:</b>  Display to the right in left-to-right layout and to the left in
  right-to-left layout
</p>

<!-- <div style="margin: 100px"> -->
  <span matTooltip="tooltip works!">tooltip works default!</span>

  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="right"
    >tooltip works at right!</span
  >
  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="left"
    >tooltip works left!</span
  >
  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="above"
    >tooltip works at above!</span
  >
  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="below"
    >tooltip works at below!</span
  >
  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="before"
    >tooltip works at before!</span
  >

  <hr />

  <span matTooltip="tooltip works!" matTooltipPosition="after"
    >tooltip works at after!</span
  >
<!-- </div> -->
